[defaults]
host_key_checking = False
deprecation_warnings = False
# Forces Ansible to use the system's SSH binary instead of the built-in paramiko
transport = ssh
stdout_callback = community.general.timestamp
[ssh_connection]
# Include the previous settings AND add the HostKeyAlgorithms
ssh_args = -o KexAlgorithms=+diffie-hellman-group1-sha1,diffie-hellman-group14-sha1 -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa -o MACs=+hmac-sha1,hmac-sha1-96
